* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  border-radius: 2px;
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #1890ff;
}

.btn-outline {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  color: #595959;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}



.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./images/banners/banner.png);
  background-color: #fff1b8;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}

.banner-item--title {
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
  margin: 0;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header.goods {
  justify-content: start;
}

.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.products-header--search {
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  opacity: 1;
  flex-shrink: 0;
  padding: 5px 12px 5px 32px;
  background-image: url("./images/icons/search.png");
  background-position: 8px 7px;
  background-repeat: no-repeat;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #d9d9d9;
}

.products-header--search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: #bfbfbf;
  min-width: 262px;
  opacity: 1;
  /* padding: 5px 4px 5px 12px; */
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products-card {
  width: calc((100% - 48px) / 3);
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px #0000000d;
  border-radius: 7px;
  overflow: hidden;
  text-decoration: none;
}

.products-card__image {
  width: 100%;
}

.products-card__image img {
  width: 100%;
}

.products-card__description {
  padding: 20px 24px 34px;
}

.products-card__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.products-card__description--badge {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  color: #ffffff;
  background: #262626;
  gap: 10px;
  opacity: 1;
  border-radius: 2px;
  padding: 1px 8px;
}

.products-card__description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.products-card__description-info--raiting {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
}

.products-card__description-info--price {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.products-card__description-info--group {
  color: #8c8c8c;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  position: relative;
}

.products-card__description-info--group::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8c8c8c;
  position: absolute;
  left: -14px;
  top: 14px;
}

.products-card__description--name {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.products-card__description--text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #8c8c8c;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.products-card__description-controls--price {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}


@media (max-width: 991px) {
  .banner-item {
    background-image: none;
  }

  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .products-card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 576px) {
  .products-card {
    width: 100%;
  }
}
